# Ignore all user-provided data
/data/

# Ignore the private Google Cloud key
/docker/service-account-key.json

# Ignore all generated reports and lists
*.html
*.txt

# Ignore Python cache and system files
__pycache__/
*.pyc
.DS_Store
Thumbs.db
